/**
 * Start containers
 */

.container {
	
}

.wrapper {
	margin: 0 auto;
	width: 960px;
}

/**
 * End containers
 */

/**
 * Start header content
 */

/**
 * Navigation
 */
header nav ul {
	margin: 1em 0;
}
header nav ul li {
	display: inline-block;
	padding: 8px 10px;
	margin: 0 10px;
}
/**
 * End header content
 */

/**
 * Start main content
 */

/**
 * Table
 */
table.table {
	border-collapse: collapse;
}
table.table tr td {
	border-width: 1px;
	border-style: solid;
	border-color: inherit;
	padding: 3px 8px;
}

/**
 * Competency components statuses
 */
.not-started {
	background-color: #FFD1D1;
	border-color: #F8ACAC;
}
.in-process {
	background-color: #FCE39D;
	border-color: #F0BA26;
}
.done {
	background-color: #EAF7D9;
	border-color: #BBDF8D;
}

/**
 * Pagination
 */
ul.pagination {
	margin: 1em 0;
}
ul.pagination li {
	display: inline-block;
	padding: 8px 10px;
	margin: 0 10px;
}
ul.pagination li.disabled {
	display: none;
}
ul.pagination li.active {
	
}
/**
 * End main content
 */
