/**
 * http://www.kriesi.at/themes/enfold-overview/
 * http://demo.qodeinteractive.com/bridge/
 * http://theme.co/x/
 * http://fpoimg.com/generator
 */


/**
 * Start basic styles
 */
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
html, body {
	font-family: arial, sans-serif;
	color: #272727;
}
body {
	margin: 70px 0 0;
	background: #fcfcfc;
}

a {
	text-decoration: none;
	color: #272727;
}

h2 {
	margin-top: 0;
}

img {
	max-width: 100%;
}

.aligncenter {
	text-align: center;
}

.column {
	float: left;
	padding: 20px;
}
.column-1-2 {
	width: 480px;
}
.column-1-3 {
	width: 320px;
}
.column-2-3 {
	width: 640px;
}
.column-1-4 {
	width: 240px;
}
.column-3-4 {
	width: 720px;
}
.row:after {
	clear: both;
	content: '';
	display: block;
}
/**
 * End basic styles
 */

/**
 * Start containers
 */
.container {

}
.wrapper {
	width: 960px;
	margin: 0 auto;
}
.margin {
	margin: 20px;
}
/**
 * End containers
 */

/**
 * Start header content
 */
header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 70px;
	background: #333;
}

header a {
	font-weight: bold;
	font-size: 20px;
	text-transform: uppercase;
	color: #9a9a9a;
}
header a:hover {
	color: #eee;
}

/**
 * Navigation
 */
header nav ul {
	margin: 0;
	height: 100%;
}
header nav ul li {
	height: 70px;
	margin: 0 -3px;
	padding: 20px 40px;
	display: inline-block;
	border: 1px solid #000;
	border-style: none solid;
	box-shadow: 0 0 1px #ccc;
}
/**
 * End header content
 */

/**
 * Start home page
 */
.banner {
	background: url('../images/bg1.png') repeat;
}
/**
 * End home page
 */

/**
 * Start footer
 */
footer {

}
/**
 * End footer
 */
